/*Estilos Generales*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'roboto', sans-serif;
    background-color: #151515;
    color: #ffffff;
}

.container {
    max-width: 1400px;
    margin: auto;
}

button {
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 4px;
    padding:  12px 20px;
    border:  1px solid #14A2DC;
    color: #14A2DC;
    background-color: transparent;
    transition: 0.2s;
}

button:hover {
    background-color: #14A2DC;
    box-shadow: 0px -1px 44px -2px rgba(20,162,220,0.87);
    -webkit-box-shadow: 0px -1px 44px -2px rgba(20,162,220,0.87);
    -moz-box-shadow: 0px -1px 44px -2px rgba(20,162,220,0.87);
    transition: 1s;
    color: #1E1E1E;
}





/*Barra de navegacion*/

header {
    background-color: #060606;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    margin: 0;
    padding: 5px 30px;
    height: 40px;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
}

header a {
    padding: 2px 25px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    
}

header a:hover {
    color: #3FCBFF;
}





/*1° Seccion: Inicio*/

#baner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;

    /*De fondo pienso usar una foto similar pero de mi, todavia no pude hacermela*/
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(img/Baner.jpg);
    background-position: center;
    background-size: cover;
    background-position: center center;
}

#baner h1 {
    font-size: 2.8em;
    padding: 40px;
}





/*2° Seccion: Sobre mi*/

#sobre-mi {
    text-align: center;
    padding: 200px 12px;
    
}

#sobre-mi h2 {
    font-size: 2.8em;
    color: #3FCBFF;
}

#sobre-mi p {
    padding: 10px;
}





/*3° Seccion: Mis proyectos*/

#proyectos {
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#proyectos .container{
    padding: 150px 12px;
}

#proyectos h2{
    margin-top: 0;
    font-size: 2.8em;
    color: #3FCBFF;
}

#proyectos a {
    text-decoration: none;
    color: #3FCBFF;
}

#proyectos .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/Tocomadera.jfif");

}

.carta:nth-child(2) {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/giro360.jpg");
}

.carta:nth-child(3) {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/dashdetail.png");

}





/*4° Seccion: Curriculum*/

#curriculum .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
    
}

#curriculum img {
    padding: 20px;
    height: 80vh;
}





/*5° Seccion: Contacto*/

#contacto .container {
    padding: 100px 55px;
}

#contacto h2 {
    font-size: 2.8em;
    color: #3FCBFF;
    text-align: center;
}

#contacto p {
    padding: 10px;

}

#contacto form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 0 20px rgba(63,203,255,  .3);
    padding: 10px;
}

#contacto form .bloque {
    grid-column: 1/3;

}

#contacto form input, form textarea  {
    width: 100%;
    padding: 12px;
    border: none;
    background: none;
    border-bottom: 1px solid #3FCBFF;
    outline: none;
    color: #ffffff;
}

#contacto button {
    width: 100%;
}





/*6° Seccion: Mis redes*/

footer {
    background-color: #191919;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 20vh;
    padding: 12px;
}

footer .container a  {
    text-decoration: none;
    color: #ffffff;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
}




/*Mediaquery*/

@media (min-width: 720px) {

    header {
        position: fixed;
        width: 100%;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #baner {
        height: 100vh;
        background-position: center;
        background-size: cover;
    }

    #sobre-mi .container {
        display: flex;
        justify-content: space-evenly;
    }

    #sobre-mi .texto{
        width: 50%;
        text-align: initial;
        padding: 0px 30px;
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #sobre-mi .img {
        /*Como fondo tambien pienso usar una foto similar pero de mi*/
        background-image: url(img/sobre-mi.jpg);
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 550px;
    }

    #proyectos .programas{
        display: flex;
        justify-content: center;
    }

    #proyectos h2{
        font-size: 2.8em;
    }

    #proyectos h3{
        margin-top: 0;
    }

    #proyectos .carta{
        padding: 120px 70px;
        background-size: cover;
        background-position-y: 0;
        background-repeat: no-repeat;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);

    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("img/Tocomadera-carta.jpg");

    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("img/giro360-carta.jpg");
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("img/dashdetail-carta.png");

    }



    #contacto .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1000px;
    }

    #contacto .container div {
        display: flex;
        flex-direction: column;
        justify-content: right;
        text-align: center;
        padding: 70px 40px;
    }

}

















