/*5° Seccion: Contacto*/

@import '../base/listas';

#contacto {
    .container {
        padding: 100px 55px;

        .cont-text {
            h2 {
                font-size: 2.8em;
                color: nth($colores, 4);
                text-align: center;
            }

            p {
                padding: 10px;
            }
            
            @media (min-width: 720px) {
                display: flex;
                flex-direction: column;
                justify-content: right;
                text-align: center;
                padding: 70px 30px;
            }
        }

        .formulario {
            box-shadow: 0 0 20px rgba(63,203,255,  .3);
            padding: 20px;
            

            input, textarea  {
                width: 100%;
                padding: 5px;
                border: none;
                background: none;
                border-bottom: 1px solid nth($colores, 4);
                outline: none;
                color: nth($colores, 5);
            }

            button {
                width: 100%;
            }
        }

        @media (min-width: 720px) {            
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: 1000px;
        }
    }
}











