/* 4° Seccion: Curriculum */

#curriculum {

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    } 

    img {
        padding: 20px;
        height: 80vh;
    }  
}