/*6° Seccion: Mis redes*/

@import '../base/listas';

footer {
    .container {
        background-color: nth($colores, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20vh;
        padding: 12px;
        
        a  {
            text-decoration: none;
            color: nth($colores, 5);
            width: 60px;
            height: 30px;
            text-align: center;
        }
    }
}
