/* 1° Seccion: Inicio */

#baner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;

    /*De fondo pienso usar una foto similar pero de mi, todavia no pude hacermela*/
    background-image: url(.././img/Baner.jpg);
    background-position: center;
    background-size: cover;
    background-position: center center;

    h1 {
        font-size: 2.8em;
    }

    @media (min-width: 720px){
        height: 100vh;
        background-position: center;
        background-size: cover;
    }
}

